---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <p>
        If you're here, you probably know who I am, but if otherwise, I'm Lea,
        mostly known for running the show at
        <a href="https://fyralabs.com">Fyra Labs</a>.
    </p>
    <p>
        This site is a placeholder until I get around to making something
        proper.
    </p>
    <p>For now, you can find me on the following platforms:</p>
    <ul>
        <li><a href="https://bsky.app/profile/ultraviolet.sh">Bluesky</a></li>
        <li><a href="https://x.com/uvdotsh">Twitter</a></li>
        <li>
            <a href="https://ordinary.cafe/@lea" rel="me">Fediverse/Mastodon</a>
        </li>
        <li>Discord: ultraviolet.sh</li>
        <li>Signal: @lea.64</li>
    </ul>
</Layout>
